*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 15vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 10vh;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav ul li{
    display: inline-block;
    margin: 0 15 px
}

section nav ul li a:hover{
    color: green;
}

section nav .icon i{
    font-size: 18px;
    color: #000;
    margin : 0 5px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

img {
    width: 50%;
}

main {
    margin: 0 20%;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(152, 54, 161);
    margin-right: 10px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 30%;
    height: auto;
    background-color: rgb(250, 250, 250);
}

.service {
    display: inline-block;
}
