html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3,
p,
li {
    color: rgb(128, 0, 111);
}

img {
    width: 50%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    width: 100%
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 30%;
    height: auto;
    background-color: rgb(250, 250, 250);
}

.service {
    display: inline-block;
}
