* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 10vh;
}

/* Navigation */

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img {
    width: 200px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul {
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a {
    text-decoration: none;
    color: rgb(152, 54, 161);
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a:hover::after {
    width: 100%;
}

section nav ul li a:hover {
    color: green;
}

section nav .icon i {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover {
    color: rgb(152, 54, 161);
}

/* Home */

.home-container-1 {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.home-container-1 .box {
    flex: 2;
    order: 2;
}

.home-container-1 .box a {
    text-decoration: none;
    color: rgb(152, 54, 161);
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.home-container-1 .box a:hover::after {
    width: 100%;
}

.home-container-1 .box a:hover {
    color: green;
}

.home-container-1 .box img {
    width: 80%;
    position: relative;
}

.home-container-2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.home-container-2 .box {
    flex: 2;
    order: 2;
}

.home-container-2 .box a {
    text-decoration: none;
    color: rgb(152, 54, 161);
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.home-container-2 .box a:hover::after {
    width: 100%;
}

.home-container-2 .box a:hover {
    color: green;
}

.home-container-2 .box img {
    width: 80%;
    position: relative;
}

body {
    text-align: center;
    margin: 0rem 3rem 3rem 3rem;
}

/* About (Image not working) */
.about {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .about_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img {
    width: 800px;
    position: relative;
    top: 60px;
}

.about .about_main .about_text h1 span {
    color: rgb(152, 54, 161);
    margin-right: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about .about_main .about_text h1 {
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about_main .about_text h3 {
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p {
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}

.about .about_btn {
    background: #fac031;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}